#profile
  #order
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %i.fa.fa-file
          = _('Orders')
      .panel-body
        = render 'account/order'

  #address
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %i.fa.fa-envelope
          = _('Addresses')
      .panel-body
        = render 'account/address'
