// Wizard
.wizard a {
    padding: 10px 12px 10px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    outline: none;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}

.wizard .active {
    background: #94BA65;
    color: #fff;
}
.wizard .active:after {
    border-left-color: #94BA65;
}

.wizard .active .badge {
    background: #FFF;
    color: #454545;
}

// Order status
.order-status {
  margin-bottom: 25px;
  margin-top: 30px;
  position:relative;

  .order-status-timeline {
    height:4px;
    border:1px solid #ddd;
    border-radius:7px;
    background:#eee;
    box-shadow:0px 0px 2px 0px #ddd inset;

    .order-status-timeline-completion {
      height: 4px;
      margin: -1px 1px 0px 1px;
      border-radius:7px;
      background: #5b5;
      width:0px;

      &.in_progress { width: 30%; }
      &.shipped { width: 60%; }
      &.completed { width:100%; }
    }
  }

  .img-circle {
    background-color:#EAEAEA;
    position:absolute;
    margin-top:-22px;

    box-shadow: 0px 0px 2px 0px #C2C2C2 inset;

    .icon{
      height: 40px;
      width: 40px;

      font-size: 24px;
      line-height: 40px;

      text-align: center;
      vertical-align: middle;
      color: #AAAAAA;

      &.fa-clock-o {
        margin: 0 1px 0 -1px;
      }

      &.fa-archive {
        font-size: 20px;
      }

      &.fa-truck {
        font-size: 20px;
      }

      &.fa-check-circle {
      }
    }

    &.active {
      box-shadow: none;
      background-color: #5b5;

      .icon{
        color: #fff;
      }
    }
  }

  .status-new { left:0; }
  .status-active { left:30%; }
  .status-shipped { left:60%; }
  .status-completed { right:0px; }
}
