// Variables
hr.line {
  margin:10px 0px;
}


//a:link    { color: #9d3f21 }  /* unvisited links */
//a:visited { color: #9d3f21 }  /* visited links   */
//a:hover   { color: #9d3f21 }  /* user hovers     */
//a:active  { color: #9d3f21 }  /* active links    */

body {
  color: #505050;
  padding-top: 80px;
  text-rendering: optimizeLegibility;
  font-family: "Roboto",sans-serif;
}

// Navbars
.navbar-default {
  border-radius: 0;

  &.subnav {
    background-color: #e7e7e7;
    top: -29px;
    z-index: 0;
  }
  .navbar-header {
    vertical-align: middle;
    .navbar-brand {
      font-size: 20px;
      height: inherit;
      font-weight: bold;
      color: #666;
    }
  }

  .navbar-nav {
    > li:hover {
      background-color: #EEE;
    }

    > .active > a, > .active:hover > a {
      color: #FFFFFF;
      background-color: #BBB;
    }
  }
}

ol.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0);
  // border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #DDDDDD;
  background-color: #FFF;
  font-weight: bold;

  &:empty {
    display:none;
  }
}

// Panels
.panel {
  .panel-heading {
    background: linear-gradient(to bottom, #f4f4f4 0px, #e7e7e7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #ccc;
    box-shadow: 0 1px 0 0 #fff inset;
  }

  .panel-footer {
    background: linear-gradient(to bottom, #f4f4f4 0px, #e7e7e7 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #ccc;
    box-shadow: 0 1px 0 0 #fff inset;
  }
}

// .panel {
//   background-color: #FFFFFF;
//   // border: 1px solid rgba(0, 0, 0, 0);
//   border-radius: 4px;
//   box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
//   margin-bottom: 20px;

//   .panel-heading {
//     background: none repeat scroll 0 0 #F9F9F9;
//     border-bottom: 1px solid #DFDFDF;
//   }

//   .panel-body {
//     border: 1px solid #DDDDDD;
//   }
//   .panel .pull-right {
//     padding: 0;
//     margin: -7px;
//   }

//   .panel-footer {
//     background: none repeat scroll 0 0 #F2F2E9;
//     // border-top: 1px solid #DFDFDF;
//   }
// }

// Tabs
// .nav-tabs {
//   // margin-bottom: 15px;
// }

.tab-content {
  padding: 20px 15px;
  border: 1px solid #DDDDDD;
  border-top: none;

  ul.list-group li:first-child {
    border-top:none;
    border-top-left-radius: 0px;
  }
}

// Pagination
.pagination {
  li.active a, li.active a:hover {
    background-color: #94BA65;
    border-color: #94BA65;
    color: #FFFFFF;
  }

  li.page:not(.active) a, li.first a, li.last a {
    color: #94BA65;
  }

  li.next, li.prev {
    display: none;
    color: #94BA65;
  }
}

// Tables
.table thead > tr > th {
  border-bottom: 0px;
}

.table thead > tr > th,
.table tbody > tr > th,
.table tfoot > tr > th,
.table thead > tr > td,
.table tbody > tr > td,
.table tfoot > tr > td {
  vertical-align: middle;
}

.show-grid {
  margin-bottom: 15px;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

// Buttons
.btn-disabled {
  background-color: #DDDDDD;
  border-color: #CCCCCC;
  box-shadow: none;
  cursor: not-allowed;
  opacity: 0.65;
  pointer-events: none;
}

// Form elements
.input-xsm {
  border-radius: 3px;
  font-size: 12px;
  height: 24px;
  line-height: 1.5;
  padding: 5px 10px;
}

// Footer
footer {
  margin-top: 50px;
}

