@import "twitter/bootstrap.less";

body {
  // background-color: #E7E7E7;
  padding-top: 70px;
}

main .wrapper {
  // background-color: #FFFFFF;
  // padding: 5px;
  // border: 1px solid #CCCCCC;
}

footer {
  margin-top: 50px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  vertical-align: middle;
}

div.panel .pull-right {
  padding: 0;
  margin: -7px;
}
