@import "twitter/bootstrap.less";

body {
  // background-color: #E7E7E7;
  background: url("https://www.paypalobjects.com/webstatic/mktg/consumer/gradients/interior-gradient-top.png") repeat-x scroll center top rgba(0, 0, 0, 0);
  padding-top: 70px;
}

.navbar-default {
  background-color: #F5F5F5;
  color: #666666;
}

main .wrapper {
  // background-color: #FFFFFF;
  // padding: 5px;
  // border: 1px solid #CCCCCC;
}

footer {
  margin-top: 50px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  vertical-align: middle;
}

div.panel .pull-right {
  padding: 0;
  margin: -7px;
}
