@import "twitter/bootstrap.less";
@font-face {
  font-family: 'OpenSans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url("//themes.googleusercontent.com/static/fonts/opensans/v6/u-WUoqrET9fUeobQW7jkRT8E0i7KZn-EPnyo3HZu7kw.woff") format('woff');
}


@link-color: #996600;
// @link-color: #DD4814;

.btn-success {
  -moz-box-orient: vertical;
  background: none repeat scroll 0 0 #99CC33;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease 0s;
  vertical-align: middle;
  white-space: nowrap;

  background: none repeat scroll 0 0 #94BA65;
  border: 1px solid #749B46;
}

body {
  background-color: #F2F2E9;
  // text-rendering: optimizelegibility;
  background-color: #F0F0F0;
  color: #333333;
  padding-top: 70px;
  font-family: 'OpenSans'
}

.navbar-default {
  // background-color: #F2F2E9;
  background-color: #FFF;
  // color: #666666;

  a.navbar-brand {
    font-weight: bold;
  }
}

.container .jumbotron {
  background-color: #FFF;
  padding-left: 0px;
  padding-right: 0px;
}

.panel-heading {
  background: none repeat scroll 0 0 #F9F9F9;
  border-bottom: 1px solid #DFDFDF;
}

.panel-default > .panel-heading.panel-heading-dark {
  // background: none repeat scroll 0 0 #E7E3DB;
  // background: linear-gradient(#FFFFFF, #E9E9E9) repeat scroll 0 0 rgba(0, 0, 0, 0);
  // color: #996600;
  // color: #777777;
}

.panel-default > .panel-heading.panel-heading-dark a {
  color: #996600;
  // color: #777777;
}

.panel-footer {
  background: none repeat scroll 0 0 #F2F2E9;
  border-top: 1px solid #DFDFDF;
}

footer {
  margin-top: 50px;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
  vertical-align: middle;
}

div.panel .pull-right {
  padding: 0;
  margin: -7px;
}
