a {
  &:hover {
    color: #d54e21;
    text-decoration: underline;
  }
}

// Navbars
.navbar-default {
  border-radius: 0;
  background-color: #f8f8f8;

  &.subnav {
    background-color: #fff;
    top: -29px;
    z-index: 0;
  }

  .navbar-header {
    vertical-align: middle;

    .navbar-brand {
      font-size: 20px;
      line-height: 26px;
      height: inherit;
      font-weight: bold;
      color: #666;
      vertical-align: middle;
    }

    .navbar-btn {
      border-color: #dddddd;
      line-height: 21px;
      padding: 8px 12px;

      &:hover {
        background-color: #dddddd;
      }
    }
  }

  .navbar-nav {
    > li:hover {
      background-color: #EEE;
    }

    > .active > a, > .active:hover > a {
      color: #FFFFFF;
      background-color: #BBB;
    }
  }
}

// Breadcrumb
ol.breadcrumb {
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid #DDDDDD;
  background-color: #FFF;
}

// Panels
.panel {
  border-color: #dddddd;

  .panel-heading {

  }

  .panel-body {
    h1,h2,h3,h4,h5 {
      margin: 0px 0px 15px 0px;
      font-weight: normal;
    }
  }
  .panel-footer {
    .btn {
      margin-right: 10px;
    }
  }

  .alert-danger {
    margin: 5px 0px 5px 0px;
    ol {
      padding-left: 20px;

      li {
        margin: 0;
      }
    }
  }
}

.panel {
  h4 {
    &.panel-title {
      margin-bottom: 4px;
      padding: 2px;
    }
  }
}


// Pagination
.page_entries_info {
  padding: 10px 0px;
  display: inline-block;
  vertical-align: middle;
}

.pagination {
  margin: 0;

  li {
    a, span {
      border-radius: 100%;
      margin: 3px 1px;
      color: #444;
      outline: 0;
    }

    &:first-child > a, &:first-child > span {
      border-radius: 100%;
    }

    &:last-child > a, &:last-child > span {
      border-radius: 100%;
    }

    &.active {
      a, a:hover, a:focus {
        background-color: #5B5;
        border-color: #5B5;
        color: #ffffff;
        cursor: default;
        z-index: 2;
      }
    }

    &.next, &.prev, &.gap {
      display: none;
    }
  }
}

// Tables

.table {
  margin-bottom: 0px;

  .show-grid {
    margin-bottom: 15px;
  }

  thead > tr > th,
  tbody > tr > th,
  tfoot > tr > th,
  thead > tr > td,
  tbody > tr > td,
  tfoot > tr > td {
    vertical-align: middle;
  }

  thead > tr > th {
    border-bottom: 0px;
  }

  tbody > tr > .no-line {
      border-top: none;
  }

  thead > tr > .no-line {
    border-bottom: none;
  }

  tbody > tr > .thick-line {
    border-top: 2px solid;
  }

  tbody > tr > .dotted-line {
    border-top: 1px dotted;
  }

  tfoot > tr > td {
    padding: 6px;
  }
}


.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

// Other Bootstrap components
.well {
  img {
    border: 2px solid #fff;
  }
}




