@import "custom_bootstrap/mixins.less";

.bordered {
  border: 1px solid #EEEEEE;
}

#store-index h3.page-header {
  margin: 0px 0 20px;
}

.categories, .sorting {
  list-style-type: none;
  padding-left: 0;

  li {
    padding: 0px 0px 10px 0px;

    a {
      display: block;
      outline: none;

      &:hover {
        color: #505050;
      }
    }
  }
}

.product {
  background-color: #FFF;
  border: 1px solid #EEEEEE;
  border-radius:3px;
  margin-bottom: 20px;
  padding: 20px 10px 10px 10px;
  text-align: center;

  &:hover {
    border: 1px solid #94BA65;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow:hidden;
  }

  &.out-of-stock {
    border: 1px solid #DDDDDD;
    position: relative;
    pointer-events: none;
    cursor: default;
  }

  .ribbon {
    position: absolute;
    top: 0;
    right: 1px;

    &.ribbon-small .text {
      font-size: 12px;
    }

    .text {
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    }
  }

  a.thumbnail {
    border: none;
    text-decoration: none;
    outline: none;
    color: #000;
    display:block;
  }
  .name {
    .text-overflow;
  }

  .description {
    color: gray;
    display: block;
    font-size: 11px;
    .text-overflow;
  }
}


.quantity-helper {
  width: 70px;

  .btn:active, .btn:focus {
    outline: none;
  }

  span > button {
    width: 30px;
  }

  input[type="text"] {
    width: 40px !important;

    &.input-disabled {
      background-color: #F5F5F5;
      pointer-events: none;
      cursor: default;
    }
  }
}

.form-header {
  border-bottom: 1px solid #EEEEEE;
  margin: 10px 0 20px;
  padding-bottom: 9px;
}
