// .sidebar li {
//   display: block;
//   border-bottom: 1px dotted gray;

// }

// .topic {
//   border-bottom: 1px solid #EEEEEE;
//   margin-bottom: 40px;
//   margin-top: -20px;
// }

.categories, .sorting {
  list-style-type: none;
  padding-left: 0;

  li {
    padding: 0px 0px 10px 0px;

    a {
      display: block;
      outline: none;

      &:hover {
        color: #505050;
      }
    }
  }
}

.product.out-of-stock {
  background: none repeat scroll 0 0 #EEE;

  &:before {
    background: none repeat scroll 0 0 #E35E54;
    border-radius: 0 3px;
    color: #FFFFFF;
    content: "Out of stock";
    padding: 3px 8px;
    position: absolute;
    right: 15px;
    top: 0;
  }
}

.product {
  background-color: #FFF;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  margin-bottom: 20px;
  padding: 10px;
  text-align: center;

  a {
    text-decoration: none;
    outline: none;
    color: #000;
  }
  .name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .description {
    color: gray;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    font-size: 11px;
  }
}

.quantity-helper {
  width: 70px;

  span > button {
    width: 30px;
  }
  input[type="text"] {
    width: 40px !important;
  }
  button.quantity_minus {
    // border-right: 0;
  }

  button.quantity_plus {
    // border-left: 0;
  }
}

.product:hover {
  border:1px solid #94BA65;
}

// a.sort_link {
//   margin: 0 5px;
//   min-width:64px;
//   display: inline-block;
// }

.form-header {
  border-bottom: 1px solid #EEEEEE;
  margin: 10px 0 20px;
  padding-bottom: 9px;
}


// Wizard
.wizard a {
    padding: 10px 12px 10px;
    margin-right: 5px;
    background: #efefef;
    position: relative;
    outline: none;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 20px inset transparent;
    border-bottom: 20px inset transparent;
    border-left: 20px solid #efefef;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 4px 0 0 4px;
       -moz-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}

.wizard .active {
    background: #94BA65;
    color: #fff;
}
.wizard .active:after {
    border-left-color: #94BA65;
}

.wizard .active .badge {
    background: #FFF;
    color: #454545;
}

// Buttons
.btn-next {
  border: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-right: 20px;
  padding: 6px 12px;
  position: relative;
  background-color: #94BA65;

  &:hover {
    background-color: #94BA65;
  }

  &:after {
    width: 0;
    height: 0;
    border-top: 16px inset rgba(0, 0, 0, 0);
    border-bottom: 16px inset rgba(0, 0, 0, 0);
    border-left: 20px solid #94BA65;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
  }
}

