.panel
  .panel-heading
    %h4.page-header= @category.name

  .panel-body
    %strong Associated products
    %ol
      - @category.products.each_with_index do |product, index|
        %li= product.name

  .panel-footer
    = link_to 'Edit category', edit_category_path(@category), class: 'btn btn-default'
    = link_to 'Back to categories', categories_path
